.App {
  text-align: center;
}
.div{
  height: 100vh;
  background-color: darkcyan;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}
.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 40vh;
  flex-direction: column;
  border: darkgray;
  border-style: dotted;
  border-width: thick;
  background-color: darkred;
  }
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


